
body {
    min-width: 320px;
    margin: 5px;
}

html,
body {
    height: 100%;
}

.label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.alert-error{
    --bs-alert-color: #51230f;
    --bs-alert-bg: #f24444;
    --bs-alert-border-color: #dbc1ba;
}
